extends layout

block content
  h1#user(data-userId=user._id style="display:none;") User: #{user.username}
  h2#group(data-groupId=group._id, data-groupVisibility=group.visibility style="display:none;") Group Name: #{group.name}
  .wrapper
    .headband
      include logo.pug
      .group_heading
        div
          h6(style="display: inline; color: grey;") Course 
        div
          h3(style="display: inline;") #{group.name}
      h5(style="padding-top: 15px;") #{user.username}      
    hr
    .container.vest
      .row 
        .col-9
          .row
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active#assignments_tab(href="#")
                  | Assignments
              li.nav-item
                a.nav-link#settings_tab(href="#")
                  | Settings
          
          .row#chart
            div.card(style="width: 500px; height: 300px; margin: 40px; padding: 20px;")
              h5.card-title(style="color: #999999;") chart visualization
          
          .row#assignments
            .col
              table.table.table-striped.table_main
                thead
                  tr
                    th.center Assignment
                    th.center #Submissions
                    th.center Mean
                    th.center Median
                    th.center State
                    th.center Visibility
                tbody
                  each folio in group.folios
                    tr
                      td 
                        a.link(href=resourceBasePath + 'folio/' + folio._id) #{folio.name}
                      td #{folio.macheSubmissions.length}
                      td 0
                      td 0
                      td
                        if folio.state === 'opened'
                          i.fas.fa-lock-open(style="color: #fab005;")
                        else if folio.state === 'closed'
                          i.fas.fa-lock(style="color: lightgrey;")
                      td 
                        if folio.visibility === 'adminOnly'
                          i.fas.fa-cogs(style="color: lightgrey;")
                        else if folio.visibility === 'memberOnly'
                          i.fas.fa-user-friends(style="color: lightgrey;")
                        else if folio.visibility === 'everyone'
                          i.fas.fa-globe-americas(style="color: lightgrey;")    
                      
          .row
            .col
              button#createNewFolio.btn.btn-outline-primary(type='button' style="float: right;") Add Assignment            
                      
          .row
            .col
              #buttonArea(style="margin-top:60px;margin-left:120px;display:none;")            
                      
        .col-2#roles(style="display: none;")
          br
          br
          h4(style="text-align:center; color: #666666;") Instructors
          ul.list-group#admins
            each admin in group.roles.admins
              li.list-group-item.d-flex.justify-content-between.align-items-center(style="border: none;" data-user_id=admin._id)
                | #{admin.username}
                span
                  i.fas.fa-arrow-down(style="color: #cccccc;")
          hr
          //-br
          h4(style="text-align:center; color: #666666;") Members
          ul.list-group#members
            each member in group.members
              li.list-group-item.d-flex.justify-content-between.align-items-center(style="border: none;" data-user_id=member._id)
                | #{member.username}
                span
                  i.fas.fa-arrow-up(style="color: #cccccc;")              
