extends layout

block content
  h1#user(data-userId=user._id style="display:none;") User: #{user.username}
  h2#group(data-groupId=group._id, data-groupVisibility=group.visibility style="display:none;") Group Name: #{group.name}
  .wrapper
    .group_heading_wrapper
      .group_heading
        h4 #{group.name}    
    hr
    .container
      .row 
        .col-8
          .row
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active(href="#")
                  | Assignments
              li.nav-item
                a.nav-link(href="#")
                  | Settings
          
          .row
            div.card(style="width: 500px; height: 300px; margin: 40px; padding: 20px;")
              h5.card-title chart visualization
          
          .row
            .col
              table.table-striped.table_main#assignments
                thead.thead_main
                  tr
                    th.center Assignment
                    th.center #Submissions
                    th.center Mean
                    th.center Median
                    th.center State
                    th.center Visibility
                  tbody
                    each folio in group.folios
                      tr
                        td 
                          a.link(href=resourceBasePath + 'folio/' + folio.key) #{folio.name}
                        td #{folio.macheSubmissions.length}
                        td -
                        td -
                        td #{folio.state}
                        td #{folio.visibility}
                    tr
                      td.link [Add]
