extends layout

block content
  h1#user(data-userId=user._id style="display:none;") User: #{user.username}
  h2#group(data-groupId=group._id, data-groupVisibility=group.visibility style="display:none;") Group Name: #{group.name}
  .wrapper
    //- .title
    //- .groupFields
      //- ul.list-group
      //- li.list-group-item Roles : #{group.roles}
      //- li.list-group-item Members : #{group.members}
      //- li.list-group-item Visibility : #{group.visibility}
      //- li.list-group-item Key : #{group.key}
      //- li.list-group-item Description : #{group.description}
      //- li.list-group-item Buckets : #{group.buckets}
      //- li.list-group-item Created on : #{group.created_on}
      //- li.list-group-item Last modified : #{group.last_modified}
    #buttonArea
  
    
    
